* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: antiquewhite;
}
header {
  grid-area: header;
  background-color: lightcoral;
}
nav {
  grid-area: menu;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

main {
  grid-area: main;
  background-color: whitesmoke;
}
footer {
  grid-area: footer;
  background-color: lightcoral;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding-left: 20px;
  padding: 10px;
}
.nav-bar-toogle {
  width: 35px;
  height: 35px;
  background-color: lightblue;
  border-radius: 10%;
}
.filter-btn {
  padding: 10px 15px;
  background-color: azure;
  border-radius: 5%;
  box-shadow: 5px 5px lightblue;
}
.product-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(236, 162, 162);
  box-shadow: 5px 5px lightblue;
}
.card-container {
  display: flex;
  flex-direction: row;
}

.product-img {
  background-image: url(../img/gibson_sg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}
.product-card-btn {
  padding: 10px 15px;
  border-radius: 5%;
  background-color: aliceblue;
}
.product-name {
  padding: 10px;
}
.product-nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  box-shadow: 10px 10px lightblue;
}
.product-nav-item {
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0px 5px lightblue;
}
.product-img2 {
  background-image: url(../img/fender_stratocaster.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}
.product-img3 {
  background-image: url(../img/esp_eclipse.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}
.nav-bar-expand {
  display: flex;
  flex-direction: row;
  text-align: end;
  gap: 20px;
  align-items: center;
}
.nav-bar-container {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 576px) {
  .big-container {
    display: grid;
    grid-template-areas:
      "header"
      "menu"
      "main"
      "footer";
  }
}
@media (min-width: 576px) {
  .big-container {
    display: grid;
    grid-template-areas:
      "header"
      "menu"
      "main"
      "footer";
  }
   .product-card-group {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 992px) {
  .big-container {
    display: grid;
    grid-template-areas:
      "header header"
      "menu main"
      "footer footer";
    grid-template-columns: 1fr 4fr;
  }
  .nav-bar-toogle {
    display: none;
  }
  .nav {
    align-items: start; /*no funciona*/
  }
  .product-card-group {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
